In [1]:
import pandas as pd
import numpy as np
import torch.nn.functional as F
import torch

enc_len = 50
num_actions = 21

def seq_to_enc(seq):
    enc = [None for i in range(enc_len)]
    for i in range(enc_len):
        if i < len(seq):
            # import pdb; pdb.set_trace()
            enc[i] = ord(seq[i]) - ord('A')
        else:
            enc[i] = num_actions - 1
    try:
        return F.one_hot(torch.tensor(enc), num_classes=num_actions).numpy()
    except:
        import pdb; pdb.set_trace()

def get_AMP_data(mode):

    if mode == "val":
        df = pd.read_csv("data/210820_v0.24.1_rf_not-alibicani.csv")
    elif mode == "test":
        df = pd.read_csv("data/210820_v0.24.1_rf_alibicani.csv")
    else:
        raise NotImplementedError

    import pdb; pdb.set_trace()    
    # TODO: 
    df.sequence = df.sequence.map(seq_to_enc)




    storage = QueryStorage(df.sequence.shape[0], df.sequence.shape[1:])

    storage.mols = torch.tensor(df.sequence.to_list())

    storage.scores = torch.tensor(df.is_amp.to_list()).long()

    # Return QueryStorage w/ mols (50, 21) and their labels (as scores -- True being 1, False being 0)

    return storage

In [2]:
df = pd.read_csv("data/210820_v0.24.1_rf_not-alibicani.csv")

In [3]:
df

                                         sequence  is_amp
0                               AAFRGCWTKNYSPKPCL    True
1                                    AAHCIALRKGYK    True
2                                      AAHCIQLGKR    True
3                                      AAHCIVLHHN    True
4                                      AAHCLAIGRK    True
...                                           ...     ...
47927  HFVLSIRHGTFLSKRAKGWQFQLNNFLCVEEPFHTSRNLANT   False
47928  KYLSQEEQSTAALTLYTKKQFFQGIHEVVESSNEDNFQLLDI   False
47929                             LLTGRARVSTEGAPE   False
47930                             ATHLTKILNSDEHAV   False
47931                             GASVGRRGRGAGWYC   False

[47932 rows x 2 columns]

In [7]:
seqs = df.sequence.to_list()

In [16]:
chars = {}

In [17]:
cnt = 0
for s in seqs:
    for c in s:
        if c not in chars:
            chars[c] = cnt
            cnt += 1

chars